/* this is my "mystylesheet" CSS for my personal website */

/* to be submitted as a deliverable for GEOM 101 - as part of the GIS Specialist program at Fleming College */

/* this is the css for my webpage body. the colour and font size elements have been added for overriding purposes */

body {
  background-color: #696969;
	
  font-family: Verdana, sans-serif;
	
  color: white;

  font-size: 20px;
}

/* this is the css for my navbar design. inspired by w3schools.com: https://www.w3schools.com/css/css_navbar_horizontal.asp */

ul {
  list-style-type: none;
	
  margin: 0;
	
  padding: 0;
	
  overflow: hidden;
	
  background-color: #3c3c3c;
}

li {
  float: left;
}

li a {
  display: block;
	
  color: #b4b4b4;
	
  text-align: center;
	
  font-family: Verdana, sans-serif;
	
  padding: 16px 18px;
	
  text-decoration: none;
}

/* this is the css for all heading 1 text on my website */

h1 {
  color: #b4b4b4;
  
  text-align: center;
  
  font-size: 60px;
}

/* this is the css for all paragraph text on my website */

p {
  color: #b4b4b4;
  
  text-align: left;
  
  font-size: 16px;
  
  margin-top: 50px;
	
  margin-bottom: 50px;
	
  margin-right: 150px;
	
  margin-left: 50px;
}

/* this is the css to make my images float next to my paragraphs. inspired by w3schools: https://www.w3schools.com/css/css_float.asp */

img {
  float: right;

  margin-top: 30px;
	
  margin-bottom: 30px;
	
  margin-right: 50px;
	
  margin-left: 80px;
	
  height: 40%;
	
  width: 40%;
}

/* this is the css to design my social icon links. inspired by a youtube tutorial by dcode: https://www.youtube.com/watch?v=Hskt1jN7JTc */

.social {
	color: #3c3c3c;
	
	font-size: 40px;
	
	margin-left: 200px;
	
	transition: color 0.2s;
	
	text-decoration: none;
}

.social:hover {
	
	color: #b4b4b4;
}
		
